<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8"" />
<title>Archivio di Stato di Roma - Progetto Imago II</title>
<meta name="keywords" content="Archivio di Stato di Roma, State Archive of Rome, Stato Pontificio, Papal States" />
<meta name="description" content="Archivio di Stato di Roma, State Archive of Rome, Stato Pontificio, Papal States" />
<link href="../common/style_icrcpal2.css" rel="stylesheet" type="text/css" />

<link href="css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
</head>

<body>
<script id="templateSelectFondi" type="text/template">
<% _.each(fondi, function(fondo) { %> <option value="<%= fondo.fondo %>"> <%= fondo.fondo %></option> <% }); %>
</script>

<script id="templateSelectUfficio" type="text/template">
<option> </option>
<% _.each(uffici, function(ufficio) { %> <option value="<%= ufficio.ufficio %>"> <%= ufficio.ufficio %></option> <% }); %>
</script>

<script id="templateNotaio" type="text/template">
 <div class='schedaNotaio'>
  <div class="notaioNormalizzato">

<p class= 'notaioIntestazione'><strong>Nome normalizzato</strong></p>
<p class= 'notaioDettagli'><strong>Cognome: </strong><%= notaio.cognome %></p>
<p class= 'notaioDettagli'> <strong>Nome: </strong><%= notaio.nome %></p>
  </div>
  <div class="notaioAlias">
<p class= 'notaioIntestazione'><strong>Varianti</strong></p>
<p class= 'notaioDettagli'><strong>Fonte: </strong><%= notaio.fonte %></p>
<p class= 'notaioDettagli'><strong>Alias: </strong><%= notaio.alias %></p>
  </div>
    </div>

</script>

<script id="templateVolume" type="text/template">
<div class="schedaVolumi">
<div class="groupVolumi">
<p ><strong>Nome: </strong><%= volume.nome %></p>
<p ><strong>Cognome: </strong><%= volume.cognome %></p>
<p ><strong>Funzione: </strong><%= volume.funzione %></p>
<hr>
 
<p ><strong>Fondo: </strong><%= volume.fondo %></p>
<p ><strong>Ufficio: </strong><%= volume.ufficio %></p>
<p ><strong>Serie: </strong><%= volume.serie %></p>
<p >
  <strong>Volume: </strong><%= volume.volume %>
 </p>
<p >
  <strong>Sub/pag: </strong><%= volume.sub %>
</p>
<hr>
<p ><strong>Parte: </strong><%= volume.parte %></p>
<p ><strong>Lacune: </strong><%= volume.lacune %></p>
<p ><strong>Documenti: </strong><%= volume.documenti %></p>
</div>

<div class="groupVolumi">

<p ><strong>Dorso: </strong><%= volume.dorso %></p>
<hr>
<p ><strong>Cartulazione: </strong><%= volume.cartulazione %></p>
<hr>
<p ><strong>Estremi cronologici: </strong><%= volume["estremi cronologici"] %></p>
<p ><strong>Anno iniziale: </strong><%= volume["anno iniziale"] %></p>
<p ><strong>Data iniziale: </strong><%= volume["data iniziale"] %></p>
<p ><strong>Data iniziale presunta: </strong><%= volume["data iniziale presunta"] %></p>
<p ><strong>Anno finale: </strong><%= volume["anno finale"] %></p>
<p ><strong>Data finale: </strong><%= volume["data finale"] %></p>
<p ><strong>Data finale presunta: </strong><%= volume["data finale presunta"] %></p>
</div>

<div class="notaVolumi" >
<p ><strong>Note: </strong><%= volume.note %></p>
</div>
<div class="inventario">
<p > <button id="<%= buttonID %>">Informazioni archivistiche</button></p>
</div>
</div>
</script>

<script id="templateFrancois" type="text/template">

 <div class="schedaFrancois">
<div>
<div class="group" >
<p ><strong>Fondo: </strong><%= francois.fondo %></p>
<p ><strong>Ufficio: </strong><%= francois.ufficio %></p>
</div>
<div class="group" 	>
<p ><strong>Nome: </strong><%= francois.nome %></p>
<p ><strong>Cognome: </strong><%= francois.cognome %></p>
</div>
</div>
<div style="clear: both;">
<div class="group"  >
<p ><strong>Inizio: </strong><%= francois["data inizio"] %></p>
<p ><strong>Fine: </strong><%= francois["data fine"] %></p>
</div>
<div class="group">
<p ><strong>Successione: </strong><%= francois.successione %></p>
<p ><strong>Funzione: </strong><%= francois.funzione %></p>
<p ><strong>Periodo: </strong><%= francois.periodo %></p>
</div>
</div>
  </div>
</script>

<script id="templateCounter" type="text/template">
<div class="count"><strong>Nomi : </strong><%= count %></div>
</script>

<script id="templateCollegatiCounter" type="text/template">
<strong><%= item %> trovati: </strong><%= count %>
</script>

<script id="templateNav" type="text/template">
<button id="Prev"><<</button>
<button id="Succ">>></button>
<%=  offset+1 %> di <%= count %>
</script>

<script id="templateNavVolumi" type="text/template">
<button id="VolPrev"><<</button>
<button id="VolSucc">>></button>
<%=  offset+1 %> di <%= count %>
</script>

<script id="templateVolumiCollButton" type="text/template">
<button id="VolumiCollButton">Cerca volumi collegati</button>
</script>

<script id="templateFrancoisCollButton" type="text/template">
 <button id="FrancoisCollButton">Vedi Francois</button>   
 </script>

<div  id="outer">
	
  <div id="header"> 
    <h1>IMAGO</h1>
    <h2>Notarilia</h2>
  </div>
  <div id="banner"> 
    <p align='right'> <a style="font-size: 10pt; color: yellow" href="http://www.archiviodistatoroma.beniculturali.it/"> 
      <img src="../images/header_ASRoma.jpg" width="638" height="59" border="0"><br>
      Torna al sito istituzionale</a> </div>

	
  <div id="menu"> 
    <ul>
      <li ><a href="../index.html">Home Imago</a></li>
      <li ><a href="../serie.html">Serie Imago</a></li>
      <li class="first"><a href="notarilia_introPB.html">Notarilia</a></li>
    </ul>
  </div>
	<div id="content" >
		
    <div id="ImageContent"> 
      <div style="width: 180px;height: 400px; "> <img src="img/notaio.jpg" border=0> 
      </div>
    </div>

  <div id="primaryContentContainer" >

    <div id="primaryContent">
      
      
      
      <div class="tabContainer" >
	<div id="tabRicercaNotaio" class="tabNotai"><strong>Ricerca notaio </strong></div>
	<div id="tabRicercaVolumi" class="tabVolumi"><strong>Ricerca Volumi </strong></div>
      </div>
      
      
<!--Form per i notai-->  
      <div id="RicercaNotaioContainer" class="SearchContainerNotaio" >
       
          <div id="NotaiFormLeft"  >
	    
	    <div style="font-size: 1.1em;margin-top: 5px;padding-left: 2px;">
	    
            <input id="searchNotaio" type="text"  > <br><br>
            <button  id="searchNotaiButton">Cerca </button>
	    <button   onclick=cleanFormNotai()>Cancella </button>
	    </div>
	     <div id =IntestazioneNotai ></div>
             <div id="Nav" class="navNotaio" ></div>
             
	  </div>
	  <div id="NotaiFormRight">
	    
	    <div id="Loading" >
<img src='img/ajax-loader.gif'><br>
Caricamento dati. Attendere...
  </div>     		     
	<div id="RisultatiNotai"></div>
	<div style="clear: both;width: 550px;">
	<div id =IntestazioneCollegati ></div>
	<div id="VediFrancois" style="float: left"></div>
         
	 </div>
	   </div>
		
     
    <div id="Error"></div>             
	         
		 <div id="RisultatiCollegati">            
              
            </div>
	 </div>
<!--Form per i volumi-->     
    <div id="RicercaVolumiContainer" class="SearchContainerVolumi" >
          
	 
	   
		<div class="VolumiFormLeft">
		    
		    Fondo: <br>
		    <select id ="elencoFondi">
		      <option> </option>
		    </select><br>
		    Ufficio: <br>
		    <select id ="elencoUffici">
		      <option> </option>
		    </select>
		    
		    <br>
		    Cerca testo nelle Note<br>
		    <input id="textVolumi"  >
		    
		    
		      
		</div>
		<div class="VolumiFormRight">
		  Data iniziale<br>
		    <input id="dataIniziale" type="text"  >
		    <br>    
		    Data finale<br>
		   <input id="dataFinale" type="text"  >
		   <br><br>
		    <button  id="searchVolumiButton" >Cerca</button>
		    <button  onclick=cancellaSelezioni() >Cancella</button>
		</div>
		<div class="VolumiFormText">
		  Restringere il numero dei Volumi visualizzati in base all'Ufficio di provenienza e a un arco cronologico
		</div>
		
		
	      
	    <div id="LoadingVolumi" ><img src='img/ajax-loader.gif'><br>Caricamento dati. Attendere...  </div>	
	   <div id="ErrorVolumi"></div>
	  <div class="VolumiFormBottom">
	  <div id =IntestazioneVolumi ></div>
	  <div id="NavVolumi" class="navVolumi" >  
	  </div>
	  
      
            
      
      	
      </div>
         
      <div id="RisultatiVolumi"></div>
        
      </div>
      
		
		
    </div>          
  </div>
</div>
		
		
    
  <div id="secondaryContent"> 
    <div class="spiegazione"> Nella base di dati sono registrati i volumi di tutti 
      i fondi/serie notarili descritti negli inventari disponibili, ma per il 
      fondo dei Notai romani o "30 notai", sono al momento presenti solo i volumi 
      degli Uffici 1, 2, 3, 4, 5, 10, 15: gli altri sono in corso di immissione o di schedatura.
	  <br>Per questi ultimi quindi le uniche indicazioni disponibili sono ancora quelle 
      del Francois, visualizzabili in "Ricerca notaio" con il pulsante "Vedi Francois". 
	  <br>Anche per il Collegio dei Notai Capitolini sar&agrave;  presto disponibile un nuovo inventario pi&ugrave analitico
	  </div>
  </div>
</div></div></body>

	
        <script src="js/vendor/jquery-1.10.1.min.js"></script>
	<script src="js/vendor/underscore.js"></script>
	<script src="js/vendor/jquery-ui-1.10.3.custom.js"></script>
	<script src="js/vendor/jquery.ui.datepicker-it.js"></script>
        <script src="js/main.js"></script>
	
	<script type="text/javascript">
         
$( document ).ready(function() {

//Ricerca notai
var AliasNotai = getAlias();
$( "#searchNotaio" ).autocomplete({
source: function( request, response ) {
var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
response( $.grep( AliasNotai, function( item ){
return matcher.test( item );
}) );
}
,
select: function( event, ui ) {
  $(this).val(ui.item.value);
  getNotai();
}
});

$("#searchNotaiButton").bind( "click", function(){
   getNotai();
   });

//Gestione tabs Notai/Volumi
$("#tabRicercaVolumi").bind( "click", function(){
   $("#RicercaNotaioContainer").hide();
   $("#RicercaVolumiContainer").show();
   });
$("#tabRicercaNotaio").bind( "click", function(){
   $("#RicercaNotaioContainer").show();
   $("#RicercaVolumiContainer").hide();
   });


//Settings per ricerca date 
$.datepicker.setDefaults(
	  $.extend(
		{'dateFormat':'dd-mm-yy'},
		$.datepicker.regional['it']
	    )
	);
$( "#dataIniziale" ).datepicker({ dateFormat: "dd-mm-yy",
				  changeYear: true ,
				  defaultDate:"01-01-1300",
				  yearRange: "1300:1870"
				  });
$( "#dataFinale" ).datepicker({ dateFormat: "dd-mm-yy",
				changeYear: true ,
				defaultDate:"01-01-1300",
				yearRange: "1300:1870"
				});

//Parametri e controllo coerenza date su ricerca volumi				
$("#searchVolumiButton").bind( "click", function(){
  $("#searchText").val('')
  var args={};
  var check_date=true
  args.text=$("#textVolumi").val();
  args.ufficio=$("#elencoUffici").val();
  args.fondo=$("#elencoFondi").val();
  args.dataIniziale=$("#dataIniziale").val();
  args.dataFinale=$("#dataFinale").val();

  if ($("#dataIniziale").val() !== "" && $("#dataFinale").val() !== "") {
    check_date=confronta_data(args.dataIniziale,args.dataFinale);
  }
  
    if (check_date) {
      getVolumi(args);	
    }
  
   });

 
createSelectFondi();
getNotai();
});
	 
	</script>
</html>
