<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8"" />
<title>Archivio di Stato di Roma - Progetto Imago II</title>
<meta name="keywords" content="ICRCPAL: Istituto Centrale per il Restauro e la Conservazione del Patrimonio Archivistico e Librario, Restauro, Biblioteca, conservazione, Digital Library, CFLR, Imago, ICPL, ICPAL, ICRCPAL" />
<meta name="description" content="ICRCPAL: Istituto Centrale per il Restauro e la Conservazione del Patrimonio Archivistico e Librario, Restauro, Biblioteca, conservazione, Digital Library, CFLR, Imago, ICPL,ICPAL, ICRCPAL" />
<link href="css/style_icrcpal2.css" rel="stylesheet" type="text/css" />

<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
  
<script id="templateHome" type="text/template">
 
  <div class="homeImage">
  
   <br>
 <div  style="text-align: center;color:black;">
  <strong>
   <h3>
       Selezionare un elemento dall'elenco delle segnature a sinistra o una delle modalità di ricerca dai menu.
   </h3>
  </strong>
   <br>
</div>

</div>
</script>
 
<script id="templateSegnatura" type="text/template">
 
  
   <div class="nome_classe"><%= classe %></div>
 
  <div id="<%= id_classe %>" class="elenco_fondi" >
  <% _.each(fondi, function(fondo)
  { %>
  <div class="accordion">
  <a class="opening" href="#" ><%= fondo.nome_fondo %></a>
   <% _.each(fondo.cartelle, function(cartella)
  { %>
  <a class="opening-sub expanded" href="#" ><%= cartella.cartella %></a>
   <div class="expanded" style="display: none;">
   <% _.each(cartella.schede, function(scheda)
  { %>
  <li id="<%= scheda.segnatura %>" class="linkScheda"> <strong><%= cartella.cartella %> <%= scheda.bis %> - <%= scheda.UA %>/<%= scheda.sub %></strong></li>
  <% });
  %>
  </div>
     <% });
  %>
  </div>
  <% });
  %>
  <%= message %>
</div>
 


</script>

<script id="templateSegnatureTrovate" type="text/template">
 <div class="risultatiRicerca">
  Schede trovate : <span class="count"><%= count %></span>
  <% _.each(segnature, function(segnatura)
  { %>
  <li id="<%= segnatura.segnatura %>" class="linkScheda"><strong><%= segnatura.nome_classe %><br><%= segnatura.nome_fondo %><br><%= segnatura.cartella %> <%= scheda.bis %> - <%= segnatura.UA %>/<%= segnatura.sub %></strong></li>
  <% });
  %>
</div>

</script>
  
<!--<script id="templateTesto" type="text/template">
 <strong>Ricerca testo libero:</strong>
 <input type="text" id="RicercaTesto">
 <button id="ButtonRicercaTesto">Cerca</button>  
</script>-->

<script id="templateNominativi" type="text/template">
 <div class="labelRicerche">Ricerca per nominativo:</div>
 <select id="selectRicercaAutore" class="select_70">
   <option> </option>
<% _.each(autore, function(autore) { %> <option value="<%= autore.nominativo %>"> <%= autore.nominativo %> - <%= autore.qualifica %></option> <% }); %>
 </select>
</script>

<script id="templateClassificazioni" type="text/template">
 <div class="labelRicerche">Ricerca per luogo:</div>
 <select id="selectRicercaClassificazione" class="select_70">
   <option> </option>
<% _.each(luogo, function(luogo) { %> <option value="<%= luogo %>"> <%= luogo %> </option> <% }); %>
 </select>

</script>

<script id="templateToponimi" type="text/template">
 <div class="labelRicerche">Ricerca per toponimo:</div>
 <select id="selectRicercaToponimo" class="select_70">
   <option> </option>
<% _.each(toponimi, function(toponimo) { %> <option value="<%= toponimo %>"> <%= toponimo %> </option> <% }); %>
 </select>

</script>

<script id="templateLuoghi" type="text/template">
 <div class="labelRicerche">Ricerca per luogo/soggetto:</div>
 <select id="selectRicercaLuogo" >
   <option> </option>
<% _.each(luoghi, function(luogo) { %> <option value="<%= luogo %>"> <%= luogo %> </option> <% }); %>
 </select>
 <select id="selectRicercaLuogoSoggetto" >
   <option> </option>
 </select>
  <button id="ButtonRicercaLuogoSoggetto">Cerca</button>
</script>

<script id="templateSoggetti" type="text/template">
 <div class="labelRicerche">Ricerca per soggetto/luogo:</div>
 <select id="selectRicercaSoggetto" >
   <option> </option>
<% _.each(soggetti, function(soggetto) { %> <option value="<%= soggetto %>"> <%= soggetto %> </option> <% }); %>
 </select>
 <select id="selectRicercaSoggettoLuogo" >
   <option> </option>
 </select>
  <button id="ButtonRicercaSoggetto">Cerca</button>
</script>



<script id="templateScheda" type="text/template">
<div style="width: 100%; overflow: hidden;padding:1px;background-color: #F5F6CE;color: black;">
 <strong><%= data.classe %> - <%= data.fondo %></strong><br>
 <strong>Segnatura: </strong><%= data.cartella %> <%= data.bis %> - <%= data.UA %> / <%= data.sub %>
</div>

  
<div class="sezione_small">
<strong>Luogo: </strong><%= data.classificazione %><br>
 <strong>Vecchia classificazione: </strong><%= data.luogo %><br>
  <strong>Cartella: </strong><%= data.cartella %><br>
  <strong>Foglio: </strong><%= data.foglio %><br>
  <strong>Sub: </strong><%= data.sub %><br>
  <strong>Unità </strong><%= data['numero UD'] %>/<%= data['suffisso UD'] %><br>
  </div>
  <div class="sezione_small"">
    <strong>Tecnica di esecuzione: </strong><%= data['supporto/tecnica di esecuzione'] %><br>
    <table style="border-spacing: 2px;margin-left: -2px;">
    <tr>
     <td class="intestazione">Datazione: </td><td ><%= data.datazione %></td><td class="intestazione">Attribuita: </td><td><%= data.returnBool(data['data attribuita']) %></td>
    </tr>
    <tr>
     <td class="intestazione">Data finale: </td><td><%= data.data_finale %></td><td class="intestazione">Attribuita: </td><td><%= data.returnBool(data['data_Fine_attribuita']) %></td>
    </tr>
       
   </table>
  <strong>Scala: </strong><%= data.scala %><br>
  </div>
  
   <div class="sezione"">
    <strong>Produttore: </strong><%= data.soggetto_produttore %><br>
    
  <strong>Sottoscrizioni: </strong><%= data.sottoscrizioni %><br>
  <strong>Descrizione intrinseca: </strong><%= data['descrizione intrinseca'] %><br>
    <strong>Descrizione estrinseca: </strong><%= data.descrizione_estrinseca %> <br>
  </div>
    
    <div style="clear: both">
     
    </div>
    <div style="width:80%" >
<p><strong>Note: </strong><%= data.note %></p>
<p><strong>Note cronologia: </strong><%= data.note_alla_cronologia %><br></p>
<br>
</div>
 
  <div style="width:98%" >
   <strong>Fogli:</strong><br><br>
   <table class="foglio">
    <tr>
    <th>Numero</th>
    <th>Intestazione</th>
    <th>Descrizione</th>
    <th>Misure</th>
    <th>Immagine</th>
    </tr>
    <% _.each(fogli, function(foglio) { %>
    <tr>
     <td><%= foglio.numero %></td>
     <td><%= foglio.intestazione %></td>
     <td><%= foglio.descrizione %></td>
     <td width="100px"><%= foglio.misure %></td>
     <td >
      <% if (foglio.images.length > 0) { %> 
      <div class="boxImmagine">
       <% _.each(foglio.images, function(image) { %>
       
       <A  onMouseOver="this.style.cursor='pointer'" onMouseOut="this.style.cursor='text'" onClick="javascript:immv('<%= image %>.jp2','Cartografica/<%= data.classe %>/<%= data.fondo %>/<%= foglio.cartella %>/<%= foglio.foglio %>')" BORDER=0>
           <IMG BORDER="0" SRC="http://www.imago.archiviodistatoroma.beniculturali.it/iiifserver?FIF=/images/Patrimonio/Archivi/AS_Roma/Imago/Cartografica/<%= data.classe %>/<%= data.fondo %>/<%= foglio.cartella %>/<%= foglio.foglio %>/<%= image %>.jp2&&SDS=0,90&CNT=1.0&WID=512&QLT=100&CVT=jpeg">
</A>
            <% }); %>
      </div>
      <% }
      else { %>
      Immagine non presente
      <% }
      %>
     </td>
    </tr>
    <% });
    %>
       </table>
  </div>
</script>

<div  id="outer">
  <div id="header"> 
    <h1>IMAGO</h1>
    <h2>Cartografica</h2>
  </div>
  <div id="banner"> 
    <p align='right'> <a style="font-size: 10pt; color: yellow" href="http://www.archiviodistatoroma.beniculturali.it/"> 
      <img src="../images/header_ASRoma.jpg" width="638" height="59" border="0"><br>
      Torna al sito istituzionale</a> </div>
  <div id="menu"> 
    <ul>
      <li ><a href="../index.html">Home Imago</a></li>
      <li ><a href="../serie.html">Serie Imago</a></li>
      <li class="first"><a href="cartografica_intro.html">Cartografica</a></li>
    </ul>
  </div>
<div id="container" >
		
<!--    <div id="ImageContent">    
</div>-->
      <div id="left">

      <div id="LoadingLista" ><img src='img/ajax-loader.gif'>Caricamento dati. Attendere...  </div>
  <!-- <span class="lista"> <strong>SEGNATURE : </strong><br>(Cartella - Foglio/Numero)<br></span> --> 
    <div class="lista" id="listaPrincipale">
        
        </div>
</div>
      
  <div id="right" >
   
     <div id="ricerche">

  <!--<div id="LoadingRicerche" ><img src='img/ajax-loader.gif'><br>Caricamento menu ricerca  </div>-->
            
            <div id="RicercaClassificazione"></div>
            <div id="RicercaLuogo"></div>
            <div id="RicercaSoggetto"></div>
            <div class="old_search">
             </div>
            <div id="RicercaToponimo"></div>
            <div id="RicercaAutore"></div>
             <div>
         <div class="labelRicerche">Ricerca testo libero:   </div>
         <div class ="campoRicerca">
           <input type="text" id="RicercaTesto"> OR <input type="text" id="RicercaTesto2">
           <button id="ButtonRicercaTesto">Cerca</button>
           
         </div>
 
            </div>
            
            <button id ="azzeraRicerche">Azzera ricerche</button>

            
</div>
            <div id="scheda">

            </div>
             
  </div>

				

       
    </div>
    

</div>

</body>
	
        <script src="js/vendor/jquery-1.10.1.min.js"></script>
	<script src="js/vendor/underscore.js"></script>
	<script src="js/vendor/jquery-ui-1.10.3.custom.js"></script>
        <!--<script src='js/lista_segnature.js'></script>-->
        <script src='js/lista_segnature_collezioni_var.js'></script>
        <!--<script src='js/lista_segnature_collezioni.js'></script>-->
	<script src="js/main.js"></script>
	<script type="text/javascript">
         
$( document ).ready(function() {

initialize();

});
	 
	</script>
</html>
