
/* Basic */

*
{
	margin: 0em;
	padding: 0em;
}

h1,h2
{
}

body
{
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #666;
	background-color: #fff;
}

a
{
	color: #0022aa;
	text-decoration: none;
	
}

a:hover
{
	color: #002255;
	text-decoration: none;
}





/* Header */

#header
{
	position: relative;
	background: #004778 url('../images/a5.png') bottom left repeat-x;
	height: 7em;
	padding-left: 2em;
}

#header h1
{
	position: absolute;
	top: 0em;
	font-size: 2em;
	color: #ffffff;
	letter-spacing: -0.05em;
}

#header h1 a
{
	color: #fff;
	text-decoration: none;
}

#header h2
{
	position: absolute;
	font-size: 1em;
	top: 3em;
	color: #E0E8EF;
}

#banner
{
	position: absolute;
	top: 0em;
	right: 3em;
}

table
{
  border: 0px solid black;
  border-collapse: separate;
  border-spacing: 3px;
  padding: 5px;
}



.intestazione
{
background-color:#EFEFDD;
font-family: Verdana, Arial, sans-serif;
font-size: 9pt;
padding: 3px;
}

.dati
{
background-color:#FFFFFF;
font-family: Verdana, Arial, sans-serif;
font-size: 9pt;
padding: 3px;
}


.preview_grey
{
background-color:#c0c0c0;
font-family: Verdana, Arial, sans-serif;
font-size: 9pt;
padding: 3px;
}

.preview_light
{
background-color:#c0c0c0;
font-family: Verdana, Arial, sans-serif;
font-size: 9pt;
padding: 3px;
}

/* Menu */

#menu
{
	position: absolute;
	top: 5em;
	left: 1em;
}

#menu ul
{
	list-style: none;
}

#menu li
{
	display: inline;
	padding-left: 1.1em;
	margin-left: 1em;
	border-left: dotted 1px #E0E8EF;
	font: bold;
}

#menu .first a
{
	color: #ffff00;
	border: 0em;
	margin-left: 0em;
	padding-left: 0em;
	
}

#menu li a
{

	color: #ffffff;
	padding: 0.1em;
	text-decoration: none;
}


#menu li a:hover
{
	color: #ffff00;	
	text-decoration: none;
}

/* Content */

#content
{
	line-height: 1.5em;

}


#content p
{
	margin-bottom: 1.5em;
}

#content h2,h3,h4,h5,h6
{
	color: #545454;
	margin-bottom: 1em;
	border-bottom: dashed 1px #dfdfdf;
	padding-bottom: 0.3em;
}

#content h2
{
	font-size: 1.5em;
}

#content h3
{
	font-size: 1.1em;
}

#content ul
{
	margin-bottom: 1.5em;
	padding-left: 1em;
	list-style: square;
}

#content blockquote
{
	margin-bottom: 1.5em;
	padding: 0.75em 0.75em 0.75em 1.5em;
	border-left: solid 0.75em #005082;
	background: #FDFDFD url('images/a7.gif') top left repeat-x;
}

#content blockquote p
{
	margin-bottom: 0em;
}



/* Primary Content */

#primaryContentContainer
{
	background-color: #fff;
	float: right;
	margin: 0em -19em 0em -19em;
	width: 100%;
}

#primaryContent
{
	margin: 1.5em 19em 0em 17.25em;
	padding: 1.5em 3em 1.5em 3em;
}

#primaryContent ul
{
	margin-bottom: 1.5em;
	padding-left: 3em;
}


/* Secondary Content */

#secondaryContent
{
	position: relative;
	float: left;
	width: 14em;
	padding: 3em 2em 1.5em 2em;
	background: #fff url('images/a1.gif') top right repeat-y;
}

#secondaryContent .xbg
{
	position: absolute;
	right: 0em;
	bottom: -64px;
	background: #fff url('images/a3.gif') top right no-repeat;
	height: 64px;
	width: 128px;
}

/* Tertiary Content */

#tertiaryContent
{
	position: relative;
	float: right;
	width: 15em;
	padding: 3em 2em 1.5em 2em;
	background: #fff url('images/a2.gif') top left repeat-y;
}

#tertiaryContent .xbg
{
	position: absolute;
	left: 0em;
	bottom: -64px;
	background: #fff url('images/a4.gif') top left no-repeat;
	height: 64px;
	width: 128px;
}


/* Large Content */

#largeContentContainer
{
	background-color: #fff;
	float: right;
	width: 80%;
}



/* Large Content */

#menuContentContainer
{
	background-color: #fff;
	float: left;
	width: 20%;
}




/* Footer */

#footer
{
	position: relative;
	z-index: 1;
	border-top: dashed 1px #dfdfdf;
	padding: 1em 0em 2em 0em;
	margin: 1em 2em 0em 2em;
	text-align: center;
}

.clear
{
	clear: both;
}


/*Search*/
#textfield1 {
	padding: 2px 5px;
	background: #EEEEEE;
	border: 1px solid #000000;
	font: bold 10px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000;
}

#submit1 {
	background: #254360;
	border: 1px solid #000000;
	text-transform: uppercase;
	font: bold 9px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}